@font-face {
  font-family: 'Neulis Cursive';
  src: url('https://panameliadis93-png.github.io/font/fonnts.com-Neulis_Cursive_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Neulis Cursive';
  src: url('https://panameliadis93-png.github.io/font/fonnts.com-Neulis_Cursive_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Neulis Cursive';
  src: url('https://panameliadis93-png.github.io/font/fonnts.com-Neulis_Cursive_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neulis Cursive';
  src: url('https://panameliadis93-png.github.io/font/fonnts.com-Neulis_Cursive_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
